@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

body {
  transition: all 0.3s linear;
  font-family: "Roboto", sans-serif;
}

[data-theme="dark"] {
  background-color: black;
  transition: all 0.3s linear;
}

[data-theme="dark"] .ant-dropdown-menu {
  background-color: #1c1b1b;
}

[data-theme="dark"] .ant-modal .ant-modal-content {
  background: gray;
  border: 2px solid white;
  color: white;
}
[data-theme="dark"] .ant-modal .ant-modal-close-x {
  color: white;
}

button,
a,
img {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.image-box:focus-visible .ant-image-mask {
  opacity: 1;
}
.ant-image-preview-root .ant-image-preview-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}
.ant-image-preview-root .ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  margin: auto;
  width: 100%;
  padding: 0 10px;
  max-width: 1280px;
}

.loader {
  display: block;
  flex-grow: 1;
  margin: auto;
  box-sizing: border-box;
  width: 50px;
  height: 80px;
  max-height: 80px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: relative;
  background-image: linear-gradient(#ff3d00 30px, transparent 0);
  background-repeat: no-repeat;
  background-size: 2px 40px;
  background-position: 50% 0;
  animation: spinx 5s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  left: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 20px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: lqt 5s linear infinite;
}
.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  animation: lqb 5s linear infinite;
}
@keyframes lqt {
  0%,
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 40px;
  }
  50.1% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% -40px;
  }
}
@keyframes lqb {
  0% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 40px;
  }
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 -40px;
  }
}
@keyframes spinx {
  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }
  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}

.ant-image {
  height: 100%;
}
.ant-image .ant-image-img {
  height: inherit;
}
